{% extends "base/base.html" %}
{% block title %}Site de aulas - Módulos{% endblock title %}
{% block body %}
<div class="container mt-3">
    <div class="bg-body-secondary mt-3 p-3 rounded text-center">
        <h3>Aula Inicial</h3>
        <hr>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/bc8x3teb7pA?si=IEFgttbNgwaGPHYv" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <p>Descrição: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra purus ipsum. Nulla facilisi.</p>
    </div>
</div>
{% endblock body %}