{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Site de Aulas{% endblock title %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Eighth navbar example">
            <div class="container">
                <a class="navbar-brand" href="{% url 'base:home' %}">Site de Aulas</a>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="navbar-collapse collapse" id="navbarsExample07" style="">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Módulos</a>
                            <ul class="dropdown-menu">
                                {% for modulo in MODULOS %}
                                <li>
                                    <a class="dropdown-item" href="{{ modulo.get_absolute_url }}">
                                        {{ modulo.titulo }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                    <a href="#" class="btn btn-light">Entrar</a>
                </div>
            </div>
        </nav>
    </header>
    
    {% block body %}{% endblock body %}
    
    {% include 'base/footer.html' with contato_email='email@email.com' only %}

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>