{% extends "base/base.html" %}
{% block title %}Site de aulas - Comece agora mesmo!{% endblock title %}
{% block body %}
<div class="container mt-4">
<div class="bg-body-tertiary mt-3 p-3 rounded">
    <h2>Comece agora mesmo!</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra purus ipsum. Nulla facilisi. Fusce at aliquam nisl. Curabitur aliquet ultricies elit, eu tempus ante fermentum ullamcorper. Donec in tempus metus. In fermentum, dui eget mattis bibendum, ligula metus ultricies velit, ut facilisis nibh massa a lorem. Praesent tristique pulvinar magna et viverra.
    </p>
    <p>
        Cras non diam tempor, vulputate metus eu, fringilla libero. Nam eget mauris sit amet ipsum pretium ullamcorper. Aliquam hendrerit ultrices mollis. Vivamus varius sit amet elit lobortis semper. In hac habitasse platea dictumst. Etiam suscipit cursus sollicitudin. Proin et enim non nisl viverra vestibulum ac ut nibh.
    </p>
    <a href="#" class="btn btn-primary">Módulo de Introdução</a>
</div>

<div class="bg-body-tertiary mt-3 p-3 rounded">
    <h2>Conheça nossa história</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra purus ipsum. Nulla facilisi. Fusce at aliquam nisl. Curabitur aliquet ultricies elit, eu tempus ante fermentum ullamcorper. Donec in tempus metus. In fermentum, dui eget mattis bibendum, ligula metus ultricies velit, ut facilisis nibh massa a lorem. Praesent tristique pulvinar magna et viverra.
    </p>
    <p>
        Cras non diam tempor, vulputate metus eu, fringilla libero. Nam eget mauris sit amet ipsum pretium ullamcorper. Aliquam hendrerit ultrices mollis. Vivamus varius sit amet elit lobortis semper. In hac habitasse platea dictumst. Etiam suscipit cursus sollicitudin. Proin et enim non nisl viverra vestibulum ac ut nibh.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra purus ipsum. Nulla facilisi. Fusce at aliquam nisl. Curabitur aliquet ultricies elit, eu tempus ante fermentum ullamcorper. Donec in tempus metus. In fermentum, dui eget mattis bibendum, ligula metus ultricies velit, ut facilisis nibh massa a lorem. Praesent tristique pulvinar magna et viverra.
    </p>
    <p>
        Cras non diam tempor, vulputate metus eu, fringilla libero. Nam eget mauris sit amet ipsum pretium ullamcorper. Aliquam hendrerit ultrices mollis. Vivamus varius sit amet elit lobortis semper. In hac habitasse platea dictumst. Etiam suscipit cursus sollicitudin. Proin et enim non nisl viverra vestibulum ac ut nibh.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra purus ipsum. Nulla facilisi. Fusce at aliquam nisl. Curabitur aliquet ultricies elit, eu tempus ante fermentum ullamcorper. Donec in tempus metus. In fermentum, dui eget mattis bibendum, ligula metus ultricies velit, ut facilisis nibh massa a lorem. Praesent tristique pulvinar magna et viverra.
    </p>
    <p>
        Cras non diam tempor, vulputate metus eu, fringilla libero. Nam eget mauris sit amet ipsum pretium ullamcorper. Aliquam hendrerit ultrices mollis. Vivamus varius sit amet elit lobortis semper. In hac habitasse platea dictumst. Etiam suscipit cursus sollicitudin. Proin et enim non nisl viverra vestibulum ac ut nibh.
    </p>
</div>
</div>
{% endblock body %}