{% extends "base/base.html" %}
{% block title %}Site de aulas - Turmas{% endblock title %}
{% block body %}
<div class="container mt-3">
    <h2>Confira nossas turmas</h2>
    
    {% for turma in turmas %}
        <div class="bg-body-secondary mt-3 p-3 rounded">
            <h3 class="mb-3">{{ turma.nome }}</h3>
            <p>Data de inicio: {{ turma.inicio|date:"d/m/Y" }}</p>
            <p>Data de término: {{ turma.fim|date:"d/m/Y" }}.</p>
        </div>
    {% endfor %}
</div>
{% endblock body %}